<div [@routerTransition]>
    <h3 class="text-muted text-center">People X 
        <small> 
            provides information on infrastructure projects implemented by the Government, either through traditional procurement mode or through Public Private Partnership (PPP) mode
        </small>
    </h3>

    <div class="row margin-top" *ngIf=" projects$ | async as projects">
        <div class="col-md-12">
            <button type="button" class="btn btn-warning float-right mx-2  mb-1" 
            (click)="addNewProject()" *ngIf="isLoggedIn$ | async">
                Add new
            </button>
            <table datatable class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Project name</th>
                    <th>Sector</th>
                    <th>State</th>
                    <th>Project Authority</th>
                    <th>Status</th>
                    <th>Project Cost(in crores)</th>
                    <th>Date Of Award</th>
                    <th *ngIf="isLoggedIn$ | async">Actions</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of projects; let i = index;">
                        <td class="align-middle">{{ i + 1 }}</td>
                        <td class="align-middle">{{ item.name }}</td>
                        <td class="align-middle">{{ item.sector }}</td>
                        <td class="align-middle">{{ item.state }}</td>
                        <td class="align-middle">{{ item.authority }}</td>
                        <td class="align-middle">{{ item.status }}</td>
                        <td class="align-middle">{{ item.totalCost }}</td>
                        <td class="align-middle">{{ item.dateOfAward }}</td>
                      
                        <td class="align-middle action-buttons" *ngIf="isLoggedIn$ | async">
                          <button class="btn btn-sm btn-danger" (click)="deleteModal(item)"><i class="fa fa-times fa-sm" aria-hidden="true"></i></button>
                        </td>
                        
                    </tr>
                </tbody>
              </table>
        </div>
    </div>

    <div class="loader" *ngIf="(projects$ | async)?.length < 1">
        <p>Loading</p>
    </div>

</div>
